out/
dist/
node_modules/
*.vsix
.vscode
.vscodeignore
src/wrapper-dlv/.nyc_output
src/visualizer-matrix/.nyc_output
src/visualizer-matrix/coverage
src/visualizer-matrix/.vscode
src/visualizer-matrix/node_modules
src/visualizer-matrix/preview_*
**/*/package-lock.json
**/*/*.js